h1.Aðal
{
    color:Blue;
    text-align: center;

}
h2.Undir
{
    color:brown;
}
em
{
    color:blue;
}
strong
{
    color:red;
}
h2.Elvis
{
    color:red;
    text-align: center;
}
ul
{
    color:green;
}
p.aukatexti
{
    color:blue;
}
h1.Námskröfur
{
    color:blue;
    text-align: center;
}
p.quote
{
    color:blue;
    font-style: italic
}

Body
{
 font-family: Arial, Helvetica, sans-serif;
 border: 1px solid blue;
 width: 50em;
 margin-right: auto;
 margin-left: auto;
 padding: 1em;
 background:
 black;
 color: white;
}